<section><%= render 'users/user' %></section>
<section><% @user.pets.each do |pet| %>
<%= render partial: 'pets/pet', locals: { pet: pet } %>
<% end %></section>
<section><%= render partial: 'pets/add', locals: { user: @user } %></section>
