  <aside class="flash <%= flash.keys.first.to_s %>">
    <style>
    aside.flash .alert{
      background-color: #fff;
      color: #666;
      line-height: 3em;
      text-align: center;

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: .5em 0;
      display: inline-block;
      box-shadow: 0 3pt 3pt rgba(0,0,0,.3);
    }
    aside.flash .alert-info{
      color: green;
    }
    aside.flash .alert-alert{
      color: red;
    }
    /* add animations */
    aside.flash .alert{
      animation: announce 5s;
      animation-fill-mode: forwards;
      animation-timing-function: steps(300,end);
    }
    @keyframes announce{
        0%{margin-top: -5em; opacity:   0%}
        4%{margin-top:  0em}
       50%{margin-top:  0em; opacity: 100%}
       64%{                  opacity:  10%}
       94%{margin-top:  0em}
      100%{margin-top: -5em; opacity:   0%}
    }
    </style>
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= key %>: <%= value %></div>
    <% end %>
    </aside>

